[2019-08-14 14:24] ibakshay opened #2 "Lcov file not found"
Hi,
I tried to use github-action for doing CI/CD jobs in   our application https://github.com/cla-assistant/cla-assistant . However, when performing `coveralls` step in the job, I am running into an issue like `Lcov file not found` https://github.com/ibakshay/cla-assistant/blob/master/.github/workflows/nodejs.yml . We are using `mocha_istanbul` for generating the Lcov file and I can see from the l

[2019-08-14 15:39] nickmerwin commented on #2
Hi @ibakshay could you try with:

[code]

I've added a leading "/" to the path, to match the output path in your Gruntfile.js.

Also, the `github-token` parameter needs the `secrets.github_token`, which is built into the action and does not need to be specified in your secrets settings.

[2019-08-14 20:04] ibakshay commented on #2
Wow I spent a day in trying to solve this issue . It is working perfectly now. Like you pointed out,
I have missed the leading "/" to the path and I changed to `secrets.github_token`. Thank you very much once again and I will implement in our prod instance soon 😊.

`secrets.github_token` was little confusing for me at first and I feel It will be great for the other users If you can add this point

[2019-08-15 00:22] nickmerwin commented on #2
@ibakshay great to hear it! I've added that extra note to the README. Closing the issue for now.

[2019-08-15 00:22] #2 closed

[2019-08-18 12:33] aodj opened #4 "Using for Python code and coverage.py"
I was just looking into this for use in the GitHub actions beta, and covering my Python code, but it looks like the coverage tooling for Python doesn't support `lcov` output (ie running `coverage.py` via `pytest-cov` on `pytest` unittests).

I know that the `coveralls` Python library can interface with the coveralls.io API, so I'm curious what the suggested solution might be.

Any ideas?

[2019-08-20 20:53] nickmerwin commented on #4
Hi @aodj, could you try the steps described here:

https://github.com/coveralls-clients/coveralls-python/blob/master/docs/usage/multilang.rst

e.g.:

[code]

Then use "./coverage.json" as the `path-to-lcov` input for the Coveralls Action.

Let me know how it goes, thanks!

[2019-08-20 22:18] aodj commented on #4
I'll give it a try, but is installing and running a Ruby gem the only option here? I've previously used a workflow on Travis that simply invokes the `coveralls` tool which uploads the output from `coverage.py`, which is nice since it's simply a case of installing an extra Python lib.

[2019-08-20 22:44] aodj commented on #4
I think I'm missing something; the `coveralls-lcov` tool doesn't output LCOV formatted data. It consumes LCOV data to output `json` [Looking at the `coveralls` Python library](https://github.com/coveralls-clients/coveralls-python/blob/master/coveralls/api.py#L167-L180), is it not possible to use the `api/v1/jobs` endpoint since that appears to consume the more common JSON format instead of LCOV:

[2019-09-01 21:21] aodj commented on #4
Any more thoughts on using the action with Python?

[2019-09-09 10:11] aodj commented on #4
Just to keep this ticket up-to-date I gave up with this action, and just used the [`coveralls`](https://pypi.org/project/coveralls/) Python package. [Workflow for reference](https://github.com/aodj/icelandreview/blob/master/.github/workflows/pythonpackage.yml#L30).

[2019-09-09 10:11] #4 closed

[2019-09-15 14:43] mikkokotila commented on #4
@aodj dead simple approach solves the issue. Which raises an important question; how come the official version from the company itself, does not work?

[2019-09-18 16:17] hwagit commented on #4
However, running just `coveralls` on a `pull_request` event does not prompt Coveralls.io to later on to add a comment to the PR, even though it is enabled in the Coveralls.io settings?

[2019-09-23 13:33] vankop opened #5 "Extra comment in PR"
Hi All!

We faced with problem that `coveralls` produce extra comment in PRs (comments option is disabled via settings). Looks like it works in such way right after we moved to github actions. It will be great, if you can give more info about `action` behaviour.

[Example PR](https://github.com/stylelint/stylelint/pull/4294)

[2019-09-25 08:09] skypjack opened #6 "coveralls app and C++ project"
Hello,

I'd like to use this action to upload reports to coveralls for a C++ project.
However, the GH env doesn't contain lcov and I've no idea about how to produce the info file required for this (I'm pretty new to GH actions, I started using them 2 days ago actually).
Any hint in this sense? Thank you very much.

[2019-09-27 09:16] ibakshay opened #7 "No PR Comment when there is PR from forked repo"
Hi,

The Pull Request comment is not posted from Coveralls when there is a PR from the forked repository.  Could you please look into the issue ?

Thanks in advance.

[2019-09-28 07:00] XhmikosR commented on #5
One would expect the comment to be controlled via the coveralls settings. I haven't tried the action yet, but this is something I always turn off myself.

[2019-09-28 13:07] skypjack commented on #6
Nevermind. I switched to a different service because apparently there is no support for coveralls users.

[2019-09-28 13:07] #6 closed

[2019-09-29 15:40] fearphage opened #9 "Fails inconsistently"
This plugin succeeds or fails seemingly at random with very little output to follow up on. Below is common output:

[code]

The same check ran from TravisCI and had no problem completing. This seems like a back end issue. Can you make this action more resilient and less error-prone or more verbose so you can debug it?

Here's a link to a [random failure](https://github.com/sinonjs/sinon/pull/2096/

[2019-10-01 11:46] XhmikosR opened #10 "Build number is not a number"
It seems when using this action the build number isn't incremented. Instead it has a random ID like this: https://coveralls.io/builds/26037795

[2019-10-01 11:52] XhmikosR opened #11 "Add tags like `v1` etc"
Many official GitHub Actions follow this scheme. This allows people to have better control on the action. Using `master` can break at any time, while using a tag shouldn't break without updating the major version.

For example https://github.com/actions/setup-node/releases or https://github.com/actions/checkout/releases

BTW I'm not sure how they automate the release process, but I can't imagine t

[2019-10-01 11:53] XhmikosR commented on #11
BTW I'm not sure how they automate the release process, but I can't imagine this is done by hand, i.e. recreating the tag manually.

[2019-10-01 11:55] XhmikosR commented on #9
Just as a user like you, I believe this was caused by intermittent failures on their backend and it's unrelated to the action.

[2019-10-01 15:17] fearphage commented on #9
That sounds reasonable, but the problem is Travis, CircleCI, etc. seem to never fail though. So what's different/special about those?

[2019-10-01 15:24] XhmikosR commented on #9
Timing or something. Does the issue still happen consistently now?

I recall I also had a few failures a couple of days ago and they were fixed
after a while

On Tue, Oct 1, 2019, 18:17 Phred Lane <notifications@github.com> wrote:

[2019-10-01 19:29] hudochenkov commented on #5
We have it disabled:

<img width="621" alt="Screenshot 2019-10-01 at 21 28 45" src="https://user-images.githubusercontent.com/654597/65993913-79b87280-e492-11e9-9fb4-1eb9111dc495.png">

[2019-10-01 21:47] XhmikosR commented on #5
I actually couldn't reproduce this. It seems it respects the option set in coveralls for me.

[2019-10-04 16:02] lpinca commented on #10
It's the commit sha as per https://github.com/coverallsapp/github-action/blob/8d2940685b011d380ca033e2786e92812f915b1d/src/run.ts#L39-L45.

[2019-10-04 16:33] XhmikosR commented on #10
Yeah I noticed too, but that's not a number like it was before

On Fri, Oct 4, 2019, 19:02 Luigi Pinca <notifications@github.com> wrote:

[2019-10-04 18:28] mimmi20 opened #12 "[Question] Clover upload supported?"
Is it possivble to upload a clover coverage report using this action?

[2019-10-05 16:30] lpinca opened #13 "Merge reports for parallel builds"
I'm using this action on a matrix based build https://github.com/websockets/ws/blob/use/github-actions/.github/workflows/ci.yml.

I've defined a `test` job which is run in parallel and in this job I run the action with the `parallel` option set to `true`.

https://github.com/websockets/ws/blob/use/github-actions/.github/workflows/ci.yml#L30

I've also defined a `coverage` job which is run after al

[2019-10-06 11:02] XhmikosR commented on #5
Alright, I just hit this [here](https://github.com/validator/grunt-html/pull/139#issuecomment-538735236). I definitely have comments disabled on the Coveralls project. This is quite annoying if it keeps happening and one has explicitly disabled comments.

@nickmerwin can you please have a look?

[2019-10-06 11:07] vankop commented on #5
@XhmikosR @nickmerwin start point of investigation could be that comment is authored by `github-action` user not`coveralls` (if you use `coveralls` with other CI you will get comment authored by `coveralls` bot). Maybe this info could help.

[2019-10-06 11:08] XhmikosR commented on #5
Yeah, I noticed that too. Actions must have another API for this which currently isn't got into consideration or something.

[2019-10-08 11:53] XhmikosR commented on #5
Not sure who else to ping @nickmerwin @mscoutermarsh @coveralls

[2019-10-08 12:48] fearphage commented on #9
If Travis/Circle or any other method failed at the same time, this would seem logical to me. However this action fails even when other methods do not.

[2019-10-08 12:50] fearphage commented on #9
@nickmerwin You have any idea what the problem may be here?

[2019-10-13 10:45] abhinavsingh commented on #4
This probably should be re-opened or at-least put instructions for Python integration upfront in README.

[2019-10-16 10:56] limonte opened #14 "Couldn't find a repository matching this job"
My config: https://github.com/sweetalert2/sweetalert2/blob/master/.github/workflows/ci.yml#L35-L38

I am sure that the `GH_TOKEN` secret is present in the repo because `semantic-release` is using it as well (successfully).

Here's the build with failure: https://github.com/sweetalert2/sweetalert2/runs/262138044

[2019-10-16 20:19] nickmerwin commented on #14
Hi @limonte the line:

[code]

Needs to be exactly:
[code]

It's a special environment variable that you don't need to manually set up in your secrets section.

More info: https://help.github.com/en/articles/virtual-environments-for-github-actions#github_token-secret

[2019-10-16 20:19] #14 closed

[2019-10-17 21:56] Smolevich opened #15 "Use action for report generated by php-coveralls/php-coveralls"
I try to use this action for php project
Report generated by php-coveralls/php-coveralls and has format xml
I add
[code]
Step was failed with error `'error from lcovParse: ' 'Failed to parse string'`

[2019-10-21 06:08] Smolevich commented on #15
@nickmerwin, can you answer me?

[2019-10-22 00:40] ad-m commented on #15
Similar issue for Python.

[2019-10-25 15:26] teohhanhui commented on #12
You can try https://github.com/cedx/coveralls.php

Example on GitHub Actions:

[code]

[2019-10-25 15:28] teohhanhui commented on #15
For PHP, you can try https://github.com/cedx/coveralls.php

Example on GitHub Actions:

[code]

[2019-10-25 20:50] mimmi20 commented on #12
I will stay with the shell script.

[2019-10-25 20:50] #12 closed

[2019-10-27 02:09] nathanmkaya opened #16 "Parse error with golang"
![Screenshot_20191027_050733](https://user-images.githubusercontent.com/618553/67628522-dcc1dd00-f877-11e9-97d4-7a7e5f585fd4.png)

Any help with the above error

[2019-10-27 03:21] NullVoxPopuli opened #17 "Doesn't seem to work when tests not ran from root directory"
I use a mono repo, and I've been trying a bunch of test coverage services. Most have an add prefix command that allows me to specify my project's location within the monorepo.

Here is my coverage report (empty):
https://coveralls.io/github/NullVoxPopuli/emberclear

And the build:
https://github.com/NullVoxPopuli/emberclear/commit/f28cffb74a10fd26fbc733351a3c4054f41abaa0/checks?check_suite_id=2829

[2019-10-28 12:42] rfgamaral commented on #13
Are you sure this is even working for you @lpinca ?

I've tried the same approach and did some testing:

![image](https://user-images.githubusercontent.com/96476/67679077-27c71780-f980-11e9-8beb-772458ecda26.png)

Every jobs runs on their own container without access to the previous jobs files (unless you use the upload/download artifact actions). So, where is the `parallel-finished=true` action g

[2019-10-28 13:49] lpinca commented on #13
From my understanding the "finished" job does not need any coverage info, it is only used to signal that no more builds for the specific PR/commit will be run.

[2019-10-28 14:07] rfgamaral commented on #13
Ok, that makes sense. But how are you reaching this conclusion:

What makes you think the results are note aggregated?

[2019-10-28 14:12] lpinca commented on #13
I see it in the Coveralls web app. Lines that should be covered due to aggregation of results, are not covered. Furthermore the final coverage percentage I get when running this action is smaller than the percentage I get when running on Travis CI where aggregation works.

[2019-10-28 14:15] rfgamaral commented on #13
Ok, I see... What's confusing me is, why are you expecting coverage to be different between node versions and thus expect code coverage to be aggregated? In other words, shouldn't coverage results be exactly the same independently of the Node version the tests are running one? In which scenario does this not happen?

[2019-10-28 14:20] lpinca commented on #13
It depends... there might be branches that are only executed on a specific version of Node.js like this https://github.com/websockets/ws/blob/7.2.0/lib/permessage-deflate.js#L432-L440 or error handlers that are only run when a specific error is raised and that error is raised only on a particular OS like Windows.

[2019-10-28 14:24] rfgamaral commented on #13
Interesting. Thanks for the clarification as I was trying to understand how could this affect my own projects and I wasn't seeing a use case where coverage would be different. Thanks :)

[2019-10-28 16:42] jvesely commented on #4
Running just `coveralls` in github actions reports branch `HEAD`. I ended up with:
[code]
@hakonanes, There's also `CI_PULL_REQUEST` env var that you can set to something from `${{ github.event }}` context or parse it out of the file at `$GITHUB_EVENT_PATH`

[2019-10-31 13:50] StuartFerguson opened #18 "Multiple Coverage files not being merged when uploaded"
In my Github actions workflow I am running 3 dotnet test commands as follows

`  dotnet test "TestsProject1.csproj" /p:CollectCoverage=true /p:Exclude="[xunit*]*" /p:ExcludeByAttribute="Obsolete" /p:ExcludeByAttribute="GeneratedCodeAttribute" /p:ExcludeByAttribute="CompilerGeneratedAttribute" /p:ExcludeByAttribute="ExcludeFromCodeCoverageAttribute" /p:CoverletOutput="../lcov1.info" /maxcpucount:1

[2019-11-01 23:08] merlinnot opened #19 "PR comments are not being added"
PR comments are not added to pull requests at all. I double checked the configuration, but it seems fine. I also tried multiple options (compact/detailed view etc.). Here's a screenshot:

![67884744-a1106700-fb46-11e9-941a-aefc773af98b](https://user-images.githubusercontent.com/10390061/68061341-a4e9e800-fd04-11e9-83cf-7539517b3a0e.png)

I looked through the source code, but what I've seen so far

[2019-11-04 16:48] ly-cultureiq commented on #4
if https://github.com/nickmerwin/node-coveralls/pull/243 gets merged - i have a simple pr to add pytest and coverage.py support

[2019-11-05 22:00] paskal commented on #16
I thought one should use [mattn/goveralls](https://github.com/mattn/goveralls) in order to upload Go coverage data. [Here](https://github.com/umputun/remark/blob/master/.github/workflows/ci-build.yml#L52-L64) is an example of how to do that within GitHub actions.

[2019-11-05 22:19] nathanmkaya commented on #16
The plugin will surely work but I was hoping to use the coveralls action with having to rely on external tools. from the error the file I specified didn't have the right formatting for the action to parse that's why the need for the external tool.

[2019-11-06 17:12] Dunning-Kruger commented on #7
Same issue. Sample links:
- Pull request: https://github.com/OSDKDev/Panner.Order/pull/25
- Workflow run: https://github.com/OSDKDev/Panner.Order/pull/25/checks?check_run_id=291306416
- Job created in coveralls: https://coveralls.io/jobs/55335661

Yet... no comment or check is posted to the pull request.

[2019-11-07 23:58] roryprimrose opened #20 "path-to-lcov does not resolve $GITHUB_WORKSPACE"
I have been having issues getting the coverallsapp action to resolve the lcov file. I've tried getting `dotnet test` to write to the expected location but the action still couldn't find it. I assumed this was because the `./` path was being resolved differently across the different actions.

I updated my script to use absolute paths to get around this by specifying the lcov path as `$GITHUB_WORKSP

[2019-11-10 16:50] Bnaya opened #21 "basic setup creates empty entry"
similar to #17, but not monorepo

See the following action run:
https://github.com/Bnaya/objectbuffer/commit/c42aeb97d855dc18c67278d0abbefeefee4d1951/checks?check_suite_id=304075414
there's `cat ./coverage/lcov.info` before the coverage upload action to show that the file is ok.
The created coverall job is: https://coveralls.io/jobs/55487739
and its simply empty.

[2019-11-10 17:34] Bnaya commented on #21
Some finding, you can set env NODE_COVERALLS_DEBUG: 1 to get debug mode

[2019-11-10 17:50] Bnaya commented on #21
So the issue was, i was using https://github.com/Borales/actions-yarn
And it runs yarn inside docker
so the paths inside the lcov file were docker file system paths.
node-coveralls just ignored them, without any warning

[2019-11-10 17:51] #21 closed

[2019-11-10 17:52] Bnaya commented on #17
@NullVoxPopuli  see https://github.com/coverallsapp/github-action/issues/21#issuecomment-552217207

[2019-11-10 18:00] NullVoxPopuli commented on #17
Because I was trying _every coverage service_, I just decided to give up on the service providing mono repo support, and learn how to modify the lcov report myself.

for others: https://github.com/NullVoxPopuli/emberclear/blob/master/packages/frontend/scripts/test-with-coverage.sh#L13

and in case I move that file:

[code]

[2019-11-11 16:35] lorenzleutgeb opened #22 "Instructions for Java/JaCoCo"
I am using [kt3k/coveralls-gradle-plugin](https://github.com/kt3k/coveralls-gradle-plugin) now, together with JaCoCo. I am trying to migrate my build to GitHub Actions. Running it with just the GitHub token configured, I get:

[code]

Probably I need to point the GitHub action at the XML file generated by JaCoCo, but I don't know how.

[2019-11-12 15:34] Dunning-Kruger commented on #19
Might be a duplicate of #7

[2019-11-12 16:00] merlinnot commented on #19
It's not from forked repos, that's why I decided to open a new issue. Is Coveralls even maintained? I also dropped them an email, but no response.

[2019-11-12 18:43] nickmerwin commented on #19
Hi @merlinnot, could you link me to the repo in question?

[2019-11-12 18:45] merlinnot commented on #19
Sure! It's not public tho, but I guess you can see some logs on your side?

https://coveralls.io/github/ridedott/rider-service

[2019-11-12 19:26] nickmerwin commented on #19
@merlinnot thanks, it appears the base build for the latest PR (#108) isn't present on Coveralls:

This prevents the PR comment from being sent (it needs to know what build to compare it to).

Can you confirm?

[2019-11-12 19:33] merlinnot commented on #19
Yes, that is correct. That's because GitHub Actions can't trigger other GitHub Actions (we have an Action that merges PRs and then checks don't run on master). I'll fix it straight away and report back!

[2019-11-12 20:11] merlinnot commented on #19
Ok, I have an example in an open-source repo: https://github.com/ridedott/dependabot-auto-merge-action/pull/91

I checked and the master branch was successfully built, I then updated the PR, it was also successfully built, but no comment was added.

[2019-11-12 20:27] nickmerwin commented on #19
@merlinnot ok, the workflow that invokes the Coveralls action needs to run on pulls also:

https://github.com/ridedott/dependabot-auto-merge-action/blob/master/.github/workflows/continuous-integration.yaml

[code]

[2019-11-12 20:40] merlinnot commented on #19
Yay, it worked! I think it might be a good idea to make a PR with a slight change to this configuration and elaborate a bit on why is this needed. I'd gladly make a PR if you think it's a good idea. Thoughts?

This is the config I tried now and it works:
[code]

I didn't want to use `on: ["push","pull_request"]` as it was triggering two separate workflows on every commit I made.

[2019-11-12 20:40] merlinnot commented on #19
The config means "on every push to the master branch and on every pull request against the master branch".

[2019-11-13 02:26] Dunning-Kruger commented on #7
@nickmerwin Any chance you could check this issue? It seems to me like a must-have for open source projects where work is done on forks and pull-requested in.

[2019-11-13 15:48] mkrakowitzer commented on #22
Also curious how to do this

[2019-11-13 19:13] nickmerwin commented on #5
Hi all, apologies for the delay, this is fixed now.

We originally had repos created by an incoming GitHub Action push with `GITHUB_TOKEN` override the PR comment setting. This is updated to default that setting to true for these newly created repos, so that it can be toggled off as needed after the fact, and GH Action pushes on existing repos will respect the setting.

Thanks.

[2019-11-13 19:13] #5 closed

[2019-11-14 01:19] changhuixu opened #23 "Bad response: 500 {"message":"Build processing error.","error":true,"url":""}"
First time try this action. Not sure what's wrong...
[code]

The project url in coveralls.io is https://coveralls.io/github/changhuixu/DelimitedDataFileHelper
Is there anyone could help me?
Thank you.

[2019-11-14 15:26] changhuixu opened #24 "[Question] Why use GITHUB_TOKEN as repo_token?"
https://docs.coveralls.io/parallel-build-webhook
In the API reference page, the format of API call is like the following
[code]

I don't understand why in this github-action, we can use GITHUB_TOKEN instead.
Could you explain to us?
Thank you.

[2019-11-14 18:49] LeMorrow commented on #19
Hello, I'm using the `on: [push, pull_request]` but will not get a comment on my PR's the majority of the time. I can see both of these pull requests on coveralls.io, Here are 2 examples where the same yml file gives me different outcomes:

## Example 1 (got comment)
[Pull request](https://github.com/LeMorrow/APOD.Net/pull/8)
[build.yml](https://github.com/LeMorrow/APOD.Net/blob/52cf0b2c2e78362b79

[2019-11-14 19:05] s-weigand commented on #15
Would be nice to also have at least xml support.

[2019-11-14 19:16] teohhanhui commented on #15
I think this is what this issue is about. Clover XML format support.

[2019-11-14 19:34] s-weigand commented on #15
In my case it is `coverage.py`, sadly the clients don't support `gh actions` yet.
But [`coveralls-python support json output`](https://coveralls-python.readthedocs.io/en/latest/usage/multilang.html), so you could basically shove the json payload into `Coveralls GitHub Action`.
But `*.xml` is the most common format I guess, also I can't find a tool that converts any [format supported by `coverage.p

[2019-11-16 16:30] jamesdh commented on #22
I defined the `path-to-lcov` property, pointing it at my JaCoCo xml file and hoping it would just work. No luck. Judging from the error, it specifically needs LCOV input:

[code]

@nickmerwin is there any chance this will be expanded to support a range of reports more inline with what Coveralls has supported in the past? Guessing this was a choice to cover the most widely used tool first (Node e.g

[2019-11-16 16:31] jamesdh commented on #22
This is probably going to become a bigger request now that GitHub Actions are open to the masses.

[2019-11-18 15:06] jamesdh commented on #24
It doesn't need to be "GITHUB_TOKEN". It's whatever name you assign it as a Github Secret. The example just uses "GITHUB_TOKEN" but you are welcome to use whatever name you want.

[2019-11-19 01:27] changhuixu commented on #24
Hi @jamesdh , I guess you misunderstood my question... In other words, what's the role of "COVERALLS_REPO_TOKEN" generated by coveralls.io?

[2019-11-19 10:30] whiskeysierra commented on #22
https://github.com/danielpalme/ReportGenerator looks like it could convert from jacoco to lcov. Not sure how to set it up, since it's .NET...

[2019-11-19 18:42] jamesdh commented on #24
It's your Coveralls API token. You need it to verify who you are with Coveralls. Without it, they don't know who you are pushing data to them as.

[2019-11-19 18:43] jamesdh commented on #24
It's the same thing as "REPO_TOKEN". You can give it whatever name you want. It's just a variable name. The only thing that matters is the value of the token it contains.

[2019-11-19 22:28] changhuixu commented on #24
Right. But "COVERALLS_REPO_TOKEN" doesn't have the same value as my "GITHUB_TOKEN".

[2019-11-21 23:04] a-b-r-o-w-n commented on #7
@Dunning-Kruger @ibakshay This is likely due to the fact that the github token is read-only for forked pull requests. https://help.github.com/en/actions/automating-your-workflow-with-github-actions/authenticating-with-the-github_token#permissions-for-the-github_token

[2019-11-21 23:07] a-b-r-o-w-n opened #26 "action fails with error from getOptions"
I've seen this happen a handful of times and am not sure how to reproduce. The error output is:

[code]

[2019-11-28 20:23] Dunning-Kruger commented on #7
@a-b-r-o-w-n Attempting to work-around this by creating a specific token and passing that to the action... do you know which permissions does coveralls require?

[2019-11-29 05:33] eyal0 opened #27 "Coveralls isn't sending good names from github actions"
When coveralls runs from TravisCI, it has reasonable looking identifiers that are set here:

https://github.com/coverallsapp/github-action/blob/master/node_modules/coveralls/lib/getOptions.js#L21

So, for example, the "service name" is "travis-ci" and that shows up in the coveralls output.  For github actions, it's always "GitHub".  And the message is always a merge commit instead of the actual co

[2019-11-29 11:41] s-weigand commented on #11
To automate it you can use [this action](https://github.com/technote-space/release-github-actions).

[2019-12-01 23:37] a-b-r-o-w-n commented on #7
Github will not share any user secrets for forked repos. `${{ secrets.GITHUB_TOKEN }}` that is shared is a read-only token and cannot post PR comments. So there is no workaround as far as I know.

[2019-12-02 06:27] rdmurphy commented on #24
I have the same question and maybe can clarify what (I think) @changhuixu was asking — why does passing the `GITHUB_TOKEN` provided by GitHub Actions work as the `COVERALLS_REPO_TOKEN`?

Based on how I'm reading the [API reference](https://docs.coveralls.io/api-reference) this token eventually gets passed as `repo_token` and that should be coming from Coveralls, not GitHub.

[2019-12-03 02:20] chrismwendt commented on #24
@jamesdh Which GitHub API endpoint does Coveralls use to verify who you are? That will tell me what [permissions](https://help.github.com/en/actions/automating-your-workflow-with-github-actions/authenticating-with-the-github_token#permissions-for-the-github_token) are required.

[2019-12-07 18:29] merlinnot commented on #19
Unfortunately I need to reopen this one. It seems to work only for public repositories. The very same, copy-pasted configuration doesn't work for private ones.

[2019-12-09 16:46] novascreen commented on #13
I'm trying to use this in a monorepo with currently 2 reports being uploaded, the second one always seems to override the first one even though the first one logs a URL to a job it no longer exists once the second one is up. `parallel` is `true` and i see `Job ... .1` and `Job ... .2` in the `message` in the debug logs

[2019-12-13 23:50] mcampo84 opened #29 "No clear examples for rails project"
I'm new to Ruby on Rails, Github Actions _and_ Coveralls, and I can't seem to get this github action working. It doesn't seem to be able to find the coverage report file after I run rspec tests.

My .coveralls.yml file looks like this:
[code]

What am I missing?

[2019-12-16 03:04] moonkwoo opened #30 "Can I use only LCOV files?"
Hello,

My application is based on python and I use pytest-cov to create report file.
The  available formats of reports file are terminal, html, xml in pytest-cov.
(c.f. https://pytest-cov.readthedocs.io/en/latest/reporting.html)

Can I use not only LCOV files but also XML, HTML to send report file to coveralls?

[2019-12-17 21:58] mpreiner opened #31 "JavaScript heap out of memory"
I'm running into an out of memory problem in a larger C++ project (https://github.com/mpreiner/CVC4/runs/351674288). I checked the size of the lcov.info on my machine an it's 95M. The 2048M heap limit seems to be a limitation from node. Is there a way to increase the heap limit for the coveralls action so that it uses all the available memory of the runner?

[2019-12-21 16:45] ruippeixotog commented on #30
I have the same question. I'm trying to migrate from Travis to GitHub Actions and I have a cobertura.xml file generated by [sbt-scoverage](https://github.com/scoverage/sbt-scoverage) but I can't seem to find a way to convert it to LCOV. Previously I used [sbt-coveralls](https://github.com/scoverage/sbt-coveralls), but they don't support GitHub Actions and I'd rather use the officially supported ac

[2020-01-05 06:45] bboe commented on #24
I was curious about this question so I tested out coveralls API: https://docs.coveralls.io/api-reference

When the `service_name` field is passed as `github` then coveralls expects the `repo_token` field to be a github token so that it can directly call back to github. In fact, in such a case, using a legit coveralls repo token will result in a failure unless the `service_name` field is changed to

[2020-01-05 06:51] bboe commented on #23
I got this error when I didn't accurately set the github-token field:

[code]

[2020-01-05 07:01] bboe commented on #4
For anyone following this issue, I was able to get parallel builds to work with `python-coveralls` and using this action just for the `parallel-finish` step.

See my workflow modification here: https://github.com/praw-dev/prawtools/commit/bb0e00b89a899fb2494cf230c0104746ddaeb098

Note getting this to work does depend on the changes here: https://github.com/coveralls-clients/coveralls-python/pull/2

[2020-01-05 22:53] ntwb commented on #23
Having a similar issue @stylelint https://github.com/stylelint/stylelint/pull/4504

It works on the _pull request_ job, but not the _push_ job:

<img width="694" alt="image" src="https://user-images.githubusercontent.com/1016458/71787286-fc406780-3069-11ea-9068-dcf3030c5819.png">

<img width="390" alt="image" src="https://user-images.githubusercontent.com/1016458/71787307-3447aa80-306a-11ea-81b4-7

[2020-01-06 23:08] agronholm commented on #4
Just to un-confused others reading this: @bboe did not actually use [python-coveralls](https://pypi.org/project/python-coveralls/) (which is a separate client for coveralls.io), but a modified version of coveralls-python (available as [coveralls](https://pypi.org/project/coveralls/) on the PyPI).

This combination worked for me too. Let's hope the PR is merged.

[2020-01-07 15:51] nickmerwin commented on #23
Hi @ntwb and @changhuixu, we just identified and fixed an integer out-of-range issue with GitHub Actions job ID. Can you please re-run the builds now?

I'll reopen if the issue persists.

Thanks!

[2020-01-07 15:51] #23 closed

[2020-01-07 21:29] ntwb commented on #23
Thanks @nickmerwin, that worked, appreciated

[2020-01-09 06:40] HJianBo opened #32 "[Question] Is it support erlang"
My conf:
[code]

Logs in Github Action
[code]

[2020-01-09 07:16] Shylock-Hg commented on #31
https://github.com/vesoft-inc/nebula/pull/1596/checks?check_run_id=380846834
Same trouble.

[2020-01-09 13:30] Shylock-Hg commented on #31
I try to increase nodejs memory limit upto 20GB follow this https://support.circleci.com/hc/en-us/articles/360009208393-How-can-I-increase-the-max-memory-for-Node-
but still OOM, it's readlly crazy...

[2020-01-10 01:44] peaceiris opened #33 "Merge pull request comments in parallel (matrix) building"
- When I run a matrix build with 3 platforms, 5 pull request comments will be added.
  - example pr: https://github.com/peaceiris/actions-mdbook/pull/39
- When I re-run jobs, comments will be added again.
  - example pr: https://github.com/peaceiris/actions-mdbook/pull/38

Are those behaviors expected?

[2020-01-13 04:37] clh161 commented on #29
same problem to yours
I tried to add `path-to-lcov` but no luck
[code]
I wonder if Rails is not supported

[2020-01-14 00:35] riquellopes commented on #30
Hi guys. I've the same problem with my python application. Do you've a solution to solve this?

[2020-01-14 01:16] riquellopes commented on #30
Hi moonkwoo, to solve I used this tip: https://github.com/aodj/icelandreview/blob/master/.github/workflows/pythonpackage.yml#L30

[2020-01-15 12:40] Rotendahl commented on #30
The solution provided by @riquellopes works.
 However it does not run on forked pull requests like the official action.

A solution that either converts python-coverage to `.lcov` or extending the official action to support some other format is still needed.

[2020-01-16 06:03] alexjurkiewicz commented on #31
You can use this project to generate lcov and upload it. It works with a project of mine that hits OOM with this node app: https://github.com/eddyxu/cpp-coveralls

[2020-01-16 06:29] Shylock-Hg commented on #31
Yes, but the github action now just expose the GITHUB_TOKEN to forked repo PR, the other secrets can't access. This is the main reason why I want to to coveralls action.

[2020-01-16 07:02] alexjurkiewicz commented on #31
If you add a custom secret, you can pass in the coveralls repo key (not
GitHub token) as a secret env var.

On Thu, 16 Jan 2020, 5:29 pm Shylock Hg, <notifications@github.com> wrote:

[2020-01-16 07:56] Shylock-Hg commented on #31
I can't understand your reply, in github action CI we can't access the custom secrets from a forked repo PR. How to pass the coveralls repo key?

[2020-01-20 11:33] jlabeit commented on #18
Hey,
I am having the same issue. I am using a matrix to run multiple tests suites and the notify coveralls with `parallel-finished: true`:
[code]

In coveralls the coverage from all the different jobs show up but the coverage is not aggregated.

[2020-01-20 12:04] jlabeit commented on #18
On another note this looks like a duplicate of #13

[2020-01-20 13:07] jlabeit commented on #13
I think the environment variable `COVERALLS_SERVICE_NUMBER` needs to be set to a unique identifier so that coverage in the parallel builds can be aggregated correctly.

[2020-01-22 16:18] nuxeh opened #35 "Automatic edit/update of comments?"
Hi, when using codecov.io it edits coverage report comments on github with updated coverage data, when new commits are pushed to a branch.

Is there any way to achieve a similar effect using Coveralls? I'd even settle for posting an additional comment/report whenever new commits are pushed to the end of a branch on a PR, and coverage data is uploaded for them.

Thanks.

[2020-01-31 23:26] aalmada opened #36 "Add support for glob patterns in path-to-lcov"
Would it be possible to add support for glob patterns in `path-to-lcov`?

The tool stack I'm using generates the `lcov` inside a folder named as a GUID. Not having to specify it would be very helpful.

[code]

[2020-02-08 18:40] SVilgelm commented on #30
@nickmerwin Could you give us an example how to use the coverage repo generated by `pytest-cov`?
@coveralls

[2020-02-11 06:33] SteadBytes commented on #30
@SVilgelm that output is not supported by this GitHub action and requires using the `coveralls` python library instead which, as @Rotendahl pointed out, doesn't work on forked PRs.

[2020-02-11 07:58] bitsf commented on #7
I have the same problem, so this is the dead path right?
But why travis can post back comment?

[2020-02-12 21:07] ruippeixotog commented on #30
@nickmerwin are there any plans from Coveralls to officially maintain and/or add new features to this, or was this just an experiment?

[2020-02-13 07:58] aalmada opened #37 "PR check should report coverage change between the two branches"
When I have a PR into the master branch, the GitHub check does not report the coverage change between master and current feature branch. It reports the change from the previous commit in the current branch. It can even result in a decrease when in reality may be a huge increase in coverage for the master branch when merged.

[2020-02-13 17:58] eduncan911 commented on #20
Btw, i was having the same issue (and having a different issue now).

Just FYI, you can use the template parser instead of relying on env vars.

Try this:

    path-to-lcov: ${{ github.workspace }}/coverage/lcov.info

An that should force the template parser to replace the full path, and not rely on the action to use ENVs.

[2020-02-13 19:04] jaeh opened #38 "request is deprecated"
request 2.88.2 is the last version that will be released,

see:
https://github.com/request/request/issues/3142

i can replace the request lib with the native http module,
the code makes it look very straightforward,
just want to make sure nobody else works on this and that i do not miss anything.

[2020-02-13 19:07] jaeh commented on #38
hm. this is not the repository this should have ended up in.

[2020-02-13 19:07] #38 closed

[2020-03-05 16:51] jbaris commented on #18
@jlabeit is this code working for you?
I give up, and I start using lcov. But I figure out that jobs does not share the workspace and you need to do that sharing explicity (by using upload/download actions).
Check this out https://github.com/jbaris/todoz-mern-jwt/blob/master/.github/workflows/coverage.yml

[2020-03-13 20:30] aaomidi commented on #36
Definitely would be useful. Might make a PR for this.

[2020-03-16 08:05] HJianBo commented on #32
Resolved at: https://github.com/markusn/coveralls-erl/issues/31

[2020-03-16 08:05] #32 closed

[2020-03-19 10:17] donmahallem opened #39 "Expose Flag Name"
Currently there is no way to provide a flag_name:
https://github.com/nickmerwin/node-coveralls/blob/2e2b108c68ba1b42901846537c60f714235bc78e/lib/convertLcovToCoveralls.js#L68

attribute to the coverage upload to coveralls.
It would be great if one could provide that property via the action inputs.

Currently no user options are provided to handleInput
https://github.com/coverallsapp/github-action/

[2020-03-19 10:40] #39 closed

[2020-03-21 04:36] NoxHarmonium commented on #17
@NullVoxPopuli Thanks for the `sed` one-liner, it worked great in my monorepo.
I wonder if we could fix this by adding a "base-path" property to the action.

I'll have a look and see if I can raise a PR.

[2020-03-23 16:05] rodrigoscna commented on #26
Any news on this?

Still happening to me...
https://github.com/slergberg/react-hoc-connect-to-context/pull/133/checks?check_run_id=526977706

[2020-03-24 22:55] DomAmato commented on #30
no update in months and limited functionality... kind of a shame since the github actions are nice but I guess for tests we can't really rely on this

[2020-03-30 17:43] achapkowski opened #41 "Frustrated with Jenkins/Coverall Setup."
Hello,

We just purchased coveralls for our private Github repository and are running into some configuration issues.

1. Our language is Python.
2. We use jenkins to create a .coverage file and this is placed in the root of the system
3. We can not seem to get the .coverage file to be given to the coveralls.io site.

Does anyone have any setup guides beyond the sparse doc on setting up Jenkins wi

[2020-03-31 18:02] dzlab commented on #30
The solution provided by @riquellopes worked for me on a Scala project, i just had to setup python and then `pip install coveralls`.

[2020-04-03 08:54] JavierSegoviaCordoba commented on #22
Any update about this?

[2020-04-06 13:49] chrisjsewell commented on #30
Oh well looks like I'm ditching coveralls for codecov. It's a shame I like coveralls, but if forked PRs aren't supported with GitHub actions/pytest then its not viable for my, and I imagine lots of others, use cases

[2020-04-11 22:07] AndreMiras commented on #30
I made it work and wrote an action for it https://github.com/marketplace/actions/coveralls-python
It's still early so the API may change, always keep an eye on the documentation is something breaks and keep me posted how it works or doesn't work for you

[2020-04-17 07:29] mikeengland commented on #30
We also use Python with Coveralls so this is a blocker for us. Unfortunately we create PRs from forked repos which cannot access the Coveralls token secret, so there is no way to use the manual coveralls module to upload the coverage via Github Actiuons.

[2020-04-20 10:17] mad-it commented on #19
@nickmerwin Do you have any pointers that could help with commenting on private repositories?

[2020-04-21 19:00] #17 closed

[2020-04-21 22:22] joaqcid commented on #21
@Bnaya how did you fix it? you have to copy the files out of yanr docker?

[2020-04-21 22:55] nickmerwin commented on #27
Hi @eyal0, the newest version uses `GITHUB_RUN_ID` now instead of the commit SHA for the build number.

[2020-04-21 22:55] #27 closed

[2020-04-21 22:56] nickmerwin commented on #18
Hi all, we've just released a new version with better parallel support and updated the example configuration in the README:

https://github.com/marketplace/actions/coveralls-github-action#complete-parallel-job-example

[2020-04-21 22:56] #18 closed

[2020-04-21 22:58] nickmerwin commented on #13
Hi all, we've just released a new version with better parallel support and updated the example configuration in the README:

https://github.com/marketplace/actions/coveralls-github-action#complete-parallel-job-example

[2020-04-21 22:58] #13 closed

[2020-04-21 23:20] nickmerwin commented on #19
Hi @mad-it and @merlinnot you'll need to add our bot @coveralls as a collaborator to the private repo to receive PR comments.

[2020-04-21 23:20] #19 closed

[2020-04-22 13:53] lpinca commented on #13
@nickmerwin it seems to work well on `push` but not on `pull_request`. See https://coveralls.io/builds/30259246 (push) and https://coveralls.io/builds/30259321 (pull request).

Config is here: https://github.com/websockets/ws/blob/use/github-actions/.github/workflows/ci.yml

[2020-04-22 16:53] nickmerwin commented on #13
@lpinca to clarify, you're saying it didn't work on the PR because the coverage fell when it shouldn't have, right?

[2020-04-22 17:00] lpinca commented on #13
Yes, and not only that. The job names are incorrect in https://coveralls.io/builds/30259321 (pull request) and correct in https://coveralls.io/builds/30259246 (push). It seems that the `flag-name` option does not work as expected for PRs?

[2020-04-22 21:02] nickmerwin commented on #13
@lpinca ok, we've deployed an update that should fix this issue. Could you please trigger another build?

[2020-04-23 07:08] lpinca commented on #13
@nickmerwin it seems to work now. Thank you.

I noticed a minor nit:

- On push the job names have the following form `${flag-name} - ${GITHUB_RUN_ID}.${n}` where `n` is an integer that starts from 1 and is incremented for each job.
- On pull request the job name has the same form but `n` is not incremented. It is fixed to 1 so job names have the following format `${flag-name} - ${GITHUB_RUN_ID}.1

[2020-04-23 19:15] nickmerwin commented on #13
@lpinca good catch, we've deployed an update that should fix those Job numbers moving forward.

Thanks!

[2020-04-30 18:51] Can-Sahin commented on #7
So any open source projects using coveralls github actions cannot get their pull requests checked? Seems a big killer for me. Status check is stuck now

[2020-04-30 23:35] bryceosterhaus commented on #26
I'm also running into the same issue. https://github.com/bryceosterhaus/clay/pull/54/checks

Any ideas for a work around?

[2020-04-30 23:54] nickmerwin commented on #26
Hi all, we released a new version (1.1.0) that should fix this issue:

https://github.com/marketplace/actions/coveralls-github-action?version=v1.1.0

Can you please upgrade and try another build?

[2020-05-01 00:33] bryceosterhaus commented on #26
@nickmerwin still getting the same error with `v1.1.0`. Do I need to upgrade anything in the workflow?

new run: https://github.com/bryceosterhaus/clay/pull/54/checks?check_run_id=635134295#step:9:8

[2020-05-01 00:50] nickmerwin commented on #26
Hi @bryceosterhaus it appears this is an issue with GitHub Action's JS:

https://github.com/actions/toolkit/issues/398

I'm upgrading those packages now and will release a new version shortly.

[2020-05-01 00:58] nickmerwin commented on #26
Ok, @bryceosterhaus new version is here:

https://github.com/coverallsapp/github-action/releases/tag/v1.1.1

Could you upgrade and build again, please?

[2020-05-01 17:30] bryceosterhaus commented on #26
@nickmerwin still getting the same/similar error. https://github.com/bryceosterhaus/clay/pull/54/checks?check_run_id=637022533#step:9:8

I also just tried running the action off of master and got the same issue.

btw thanks for the quick replies!

[2020-05-01 21:00] nickmerwin commented on #26
Hi all, we were able to solve this by removing the `ref:` line from @bryceosterhaus's workflow yaml:

[code]

https://github.com/bryceosterhaus/clay/pull/55#pullrequestreview-404360336

That caused unintended behavior since the Action for a PR build will automatically use GitHub's ephemeral merge commit, which is what Coveralls is expecting.

If anyone has a use case that requires `ref: ${{ github

[2020-05-01 21:00] #26 closed

[2020-05-01 21:01] nickmerwin commented on #10
Hi all, this is updated now to use `GITHUB_RUN_ID`.

[2020-05-01 21:01] #10 closed

[2020-05-01 21:03] nickmerwin commented on #33
Hi @peaceiris, matrix builds are properly merged now in our updated version.

Example: https://github.com/coverallsapp/github-action#complete-parallel-job-example

[2020-05-01 21:03] #33 closed

[2020-05-02 02:23] peaceiris commented on #33
Thanks!

[2020-05-12 21:58] cspotcode opened #47 "Parallel invocations should not be failing the build"
I'm trying to set up coveralls reporting so that we do multiple parallel invocations, and the final aggregate will pass / fail based on coverage increase/decrease.

Here is where I'm trying to set this up.
https://github.com/TypeStrong/ts-node/pull/1040
The workflow configuration:
https://github.com/TypeStrong/ts-node/blob/a1f5bc8d99f5473ac1716d0c0cc9a5e12f7c0f8a/.github/workflows/continuous-integ

[2020-05-16 13:52] pbelskiy opened #49 "So short documentation"
Hello, I am trying to configure coveralls with parallels builds using GitHub Actions with your documentation: https://docs.coveralls.io/parallel-build-webhook

So, As I understand by coverage isn't published due my builds is in pending state (waiting web hook?)

I've added at last step (finish section) I just call curl with my report token, and it's returned 404 error, how to configure it properly

[2020-05-16 17:47] pbelskiy commented on #49
Solved, it's should be like this:

[code]

So, payload missed in top of documentation.

PS: also strange that this repo support only lcov files and don't accept standard json, for example python's coverage generated by pytest isn't pushed using this GitHub action -> lcov file not found.

[2020-05-17 17:04] cspotcode opened #50 "flag-name mentioned in README; not declared in action.yml"
README talks about it here:
https://github.com/coverallsapp/github-action#inputs

action.yml does not declare it:
https://github.com/coverallsapp/github-action/blob/master/action.yml

Github Actions shows a validation error if you try to pass `flag-name`:
[code]
![image](https://user-images.githubusercontent.com/376504/82154882-e1170d00-983e-11ea-8071-ab11b13d1855.png)

[2020-05-21 15:22] agronholm commented on #4
@bboe has your PR actually been merged? I tried with coveralls 2.0.0 and, unlike your version, it didn't work without using the coveralls token instead of the github token due to the 422 Unprocessable Entity error which is mentioned in the docs. And then, trying to use the official action to finish the parallel build, it fails due to an error like `No build matching CI build number 111541185 found

[2020-05-21 16:54] agronholm commented on #4
I'm getting the same error even with the exact same version I used to use before, so I'm guessing something has changed upstream. Now I have absolutely no clue how to get this to work.

[2020-05-22 18:12] kennethtran93 opened #51 "422 Couldn't find a repository matching this job."
It was fine about 3 hours ago...not sure what I'm doing wrong or is it a server issue?

3 hours ago...I was still using 1.0.1, and it was still successful.  Once it failed with this error, I tried to use the updated v1.1.1 version but still same result.   The repo is open source, and I only used the basic action config for coveralls.

[code]

[2020-05-22 18:35] Supereg commented on #51
Can confirm the issue, getting the following error with the latest version v1.1.1. Was fine with the last few days.
[code]

[2020-05-22 18:38] kennethtran93 commented on #51
Glad it is not just me.  My last successful upload was 08:55 PDT

[2020-05-22 19:52] kennethtran93 commented on #51
Looks like it may be a GitHub issue per https://www.githubstatus.com/incidents/6tcfpztf6j9m

[2020-05-22 19:52] #51 closed

[2020-05-24 19:06] afinetooth commented on #19
An update for anyone still experiencing this issue:

The [coveralls bot](https://github.com/coveralls) now automatically accepts invitations every 5 min, so if you're not receiving PR comments within 10-15 minutes, send an email to support@coveralls.io and someone will try to resolve the issue.

In order to receive PR comments, the [coveralls bot](https://github.com/coveralls) needs `write` permis

[2020-05-25 17:29] nathany opened #52 "Example of coverage for multiple languages"
Since coveralls.io doesn't [appear to support multiple languages](https://github.com/lemurheavy/coveralls-public/issues/373), it would be useful to have an example of combining coverage from JavaScript and another language.

For example, I'm currently trying to combine Elixir (excoveralls) with JavaScript lcov data. https://github.com/parroty/excoveralls/issues/224

[2020-05-25 19:53] nathany commented on #52
What if I already have coveralls format (rather than lcov format)?

This is what coveralls-multi produces. Is there a way to upload that without trying to convert it first?

Related: https://github.com/radditude/coveralls-multi/issues/10

[code]

[2020-05-29 18:50] ericdmoore opened #53 "Documentation Request- Add GitHub Secrets Exmaple"
I found the JS/TS documentation a bit confusing as how to integrate the GithubActions/ CI.
I really struggled on how to inject the secret: `COVERALLS_REPO_TOKEN`

I could not get the `coveralls github action` to work... not sure if that was my laziness in not wanting to read more on the Github Actions or if there is bug...

I eventually ended up usiung Github Secrets and the solution involves less

[2020-05-29 18:52] ericdmoore commented on #53
I'd love to hear your perspective on this implementation - perhaps there are features I am leaving on the table from your `GitHub Action`

[2020-06-07 11:02] eaxdev commented on #22
It's also actually for me. Currently, I use Jacoco gradle plugin. Jacoco not support output test report in lcov format!  Can there be alternatives to Jacoco?

[2020-06-09 19:41] TimoRoth commented on #47
I think I have the exact same problem.
https://github.com/OGGM/oggm/pull/1033

All the parts of the parallel build fail the build, despite the final result being successful.

How does one tell it not to report commit status?
The documentation says that this happens when you set the flag-name, but not setting that breaks the parallel build even more, making it fail to associate individual parts to

[2020-06-09 20:47] cspotcode commented on #47
@TimoRoth for what it's worth, we ended up going with CodeCov because it fit our use-case better.  We were seeing some confusing behavior from coveralls -- reporting coverage decreased / increased when it seemed like it had actually stayed the same -- and we needed path rewriting in the coverage report, too.

[2020-06-12 03:08] twinh commented on #50
For someone stop here, you may use env `COVERALLS_FLAG_NAME` instead.

see https://github.com/coverallsapp/github-action/blob/348853a262cc37fa2f8abe2827729d193cbb00dc/src/run.ts#L29

example

[code]

[2020-06-12 17:40] Charles-Gagnon opened #55 "Upload failing randomly during getOptions"
Most of the time the upload task works fine, but occasionally it'll fail with the following error :

[code]

CI yaml in question : https://github.com/microsoft/azuredatastudio/blob/master/.github/workflows/ci.yml#L57

Failing run : https://github.com/microsoft/azuredatastudio/pull/10879/checks?check_run_id=764299238

[2020-06-13 01:16] Charles-Gagnon commented on #55
From my investigation I think this might be a Github actions issue - the GITHUB_SHA value doesn't seem to always match the commit on the PR branch. Opened a thread on the community forum to see if someone there can investigate : https://github.community/t/github-sha-not-always-correct/117863

[2020-06-14 10:16] twinh commented on #12
Hello, You may try this:

https://github.com/twinh/php-coveralls#github-actions

Add a new step after phpunit generate coverage report.

[code]

[2020-06-14 10:25] twinh commented on #15
Hello, for PHP, You may try this:

https://github.com/twinh/php-coveralls#github-actions

Add a new step after phpunit generate coverage report.

[code]

[2020-06-15 12:46] osher opened #57 "Unexpected input 'flag-name='"
Error:
[code]

Config:
[code]

Perhaps I should not use `@master` ? Should I lock it to a specific version?

[2020-06-15 12:49] osher commented on #57
mm. here's a clue?
https://github.com/coverallsapp/github-action/blob/master/action.yml#L5-L24

[2020-06-15 13:45] guglielmosanchini commented on #57
see https://github.com/coverallsapp/github-action/issues/50

[2020-06-16 13:38] eyal0 commented on #55
I saw this, too.  I once noticed that GITHUB can get confused if CI is running on a branch that has since gotten a newer commit on it or has been rebased.

Can you check if that's related?  Is CI success/failure related to `git push -f`?

[2020-06-16 14:56] eyal0 commented on #55
Yes, it's a bug with GitHub.  I can easily reproduce it by making commits and uploading them successively.  On my computer, I type this:

`git commit --amend --no-edit; git push -f`

Everytime that I type that, a new version is uploaded.

The github CI that I have does a checkout of the latest code of the PR by default but that doesn't match the `GITHUB_SHA` variable in the case where a commit hap

[2020-06-16 15:12] eyal0 commented on #55
Looking at the checkout@v1 script from GitHub Actions, I found that it was always getting the latest version of the code, which sometimes caused the `GITHUB_SHA` variable to not match the actual checkout.

However, after upgrading to `checkout@v2`, I find that that the checkout does match the environment variable, even with my test as described [above](https://github.com/coverallsapp/github-action

[2020-06-16 17:29] Charles-Gagnon commented on #55
Awesome, thanks for the investigation. Updating the checkout version seems like it should fix the issue since it'll at least always match the SHA. I'll give it a shot and see if we still hit the issue.

Although I'd like to know how exactly this was happening in our case. It seemed to only happen for specific PRs and would consistently happen for that PR as each commit was added - but if it really

[2020-06-16 18:14] eyal0 commented on #55
In short: Between the uploading of the PR and GitHub CI getting around to running it, there were about 3 hours during which `main` got 3 more commits.  The GITHUB_SHA was set 3 hours before the run started and when the run did start, it checked out with the newer `main`.  So it failed because `main` rolled forward while waiting for CI to begin.

---

In order to run CI, GitHub attempted to create

[2020-06-16 18:32] Charles-Gagnon commented on #55
Ah, I missed that there was that much of a delay before the action was ran. Sounds good - appreciate the help here!

[2020-06-16 18:32] #55 closed

[2020-06-19 21:19] baztian commented on #30
Was considering switching to sonarcloud.io but they don't seem to support matrix builds very well: https://community.sonarsource.com/t/cannot-run-sonarsource-sonarcloud-github-action-master-java-not-found/14922

[2020-06-20 11:56] SVilgelm commented on #30
I moved all my projects to CodeCov, they added tokenless mode for GitHub Actions and it supports any type of coverage reports.

[2020-07-03 18:10] MarvinT commented on #4
@agronholm For anyone still trying to get pytest working, I think there have been some changes to the env vars needed to run coveralls and get it to find the correct repo on coveralls.io
[code]
N.B. I have to ```pip install git+https://github.com/TimoRoth/coveralls-python.git``` until https://github.com/coveralls-clients/coveralls-python/pull/227 is pulled in.

An example configuration is here: ht

[2020-07-03 18:10] MarvinT commented on #30
For anyone still trying to get pytest working, I think there have been some changes to the env vars needed to run coveralls and get it to find the correct repo on coveralls.io
[code]
N.B. I have to ```pip install git+https://github.com/TimoRoth/coveralls-python.git``` until https://github.com/coveralls-clients/coveralls-python/pull/227 is pulled in.

An example configuration is here: https://githu

[2020-07-05 10:41] liskin commented on #47
@TimoRoth Your problem with it failing to associate individual parts was due to you using the non-unique `GITHUB_RUN_NUMBER` as a supposed to be unique `service_job_id` at https://github.com/coveralls-clients/coveralls-python/pull/227/files#diff-aff091311b4a5401e4fbbbedcf1e7b91R102. When I use an empty string (I hope `None` should work as well but I wanted to try this without touching python-cover

[2020-07-05 12:08] TimoRoth commented on #47
When I tried that, it lead to coveralls not associating any but one of the partial jobs with my code, losing large chunks of the coverity results.

[2020-07-05 12:12] liskin commented on #47
@TimoRoth Well that is exactly what I'm experiencing when I use your code unmodified. Setting `GITHUB_RUN_NUMBER` to empty is what makes it work again. It is possible that setting the flag name is another workaround, however, as I see you tried that as well.

[2020-07-05 12:38] TimoRoth commented on #47
So coveralls must have changed something on their end then.
Changing it like that will also break finishing the parallel job with the official coveralls action.
Cause they set(at https://github.com/coverallsapp/github-action/blob/master/src/run.ts#L47) COVERALLS_SERVICE_JOB_ID to GITHUB_RUN_ID.
Which then laters(at https://github.com/coverallsapp/github-action/blob/master/node_modules/coveralls/li

[2020-07-05 12:50] liskin commented on #47
Well I can't get finishing the parallel job to work even without the change so I am not sure if the change I'm suggesting is the one that breaks it... :-)
I'm thinking that perhaps I'm experiencing https://github.com/lemurheavy/coveralls-public/issues/1407 or something because the webhook endpoint doesn't give me an error for the build id whereas it does if I manually corrupt the build id.

You're

[2020-07-06 12:57] TimoRoth opened #59 "Non-Unique value submitted as service_job_id"
service_job_id is documented to be unique per job of a parallel build.
Github Actions do not seem to provide anything like that, so leaving it blank is the only way to go about it.

So instead of assigning GITHUB_RUN_ID to COVERALLS_SERVICE_JOB_ID(in https://github.com/coverallsapp/github-action/blob/master/src/run.ts#L48), it should probably be assigned to COVERALLS_SERVICE_NUMBER. Which also mat

[2020-07-17 09:03] Swarag-N commented on #53
🙏🙏🙏
Thank you, for posting this.
This is the easiest way, i can think of for setting up a  workflow. After struggling with all different kinds of errors, i came across this issue.

Since Github actions are new, There are very few (nothing for my setup) blogs and videos for setting up this.  It would be helpful for other peeps if you write a blog about this setup. So, it would be accessible to an e

[2020-07-24 19:38] ericdmoore commented on #53
Hey @Swarag-N thanks for the good vibes. I think I might write this up after all... I was hoping that there would have been more back and forth from the coveralls folks. But this is really one of my first real-suggestion-issue to an open source product, albeit still documentation oriented.

Perhaps I had overly optimistic expectations on response times.

[2020-07-27 09:20] sergey19941201 commented on #2
My teammate has resolved this issue adding `coverlet.msbuild` package to project with tests. After that it started to work and file was found

[2020-07-27 23:50] derekm commented on #22
I am running coveralls using  the following actions:

[code]

Only issue is the `branch` command line argument get set to the commit hash when build from a detached head. See here: https://github.com/trautonen/coveralls-maven-plugin/issues/136#issuecomment-664679270

[2020-08-03 13:28] fniephaus commented on #59
FYI:

`GITHUB_RUN_ID`

`GITHUB_RUN_NUMBER`

See https://docs.github.com/en/actions/configuring-and-managing-workflows/using-environment-variables#default-environment-variables

[2020-08-19 09:55] ostsmolynets commented on #26
Still happens for our projects. The workflow file:
`
            name: Build and Deploy
            on:
              pull_request:
              push:
                branches:
                  - master

      jobs:
        build:
          runs-on: ubuntu-latest
          steps:
            - uses: actions/checkout@v1

      - uses: *private*/actions/gcp-secret-manager@v0
        with:

[2020-08-20 09:18] ostsmolynets commented on #26
@nickmerwin Please see the comment above.
Currently the fix for this issue in our case is to trigger a build with an empty commit (so that it runs with a different sha). This causes a lot of inconveniences. Would be nice if it was stable. Is this a problem on our side or in the action?

[2020-09-05 21:33] #50 closed

[2020-09-06 10:30] stephaneliu commented on #29
Overalls expects a consolidated lcov.info file.

`# Gemfile
gem "simplecov-lcov"

# spec_helper.rb
if ENV["COVERAGE"]
  require "simplecov"
  require "simplecov-lcov"

  SimpleCov.start "rails" do
    if ENV["CI"]
      SimpleCov::Formatter::LcovFormatter.config do |config
        config.report_with_simgle_file = true
        config.lcov_file_name = "lcov.info"
    else
      SimpleCov::Formatter:

[2020-09-09 19:02] Th3Whit3Wolf opened #61 "Support for branches other than master?"
Here is my yml that I stole from [here](https://github.com/MarcoIeni/poke-speare/blob/master/.github/workflows/general.yml)

[code]

I must be doing something dumb because github tells me No jobs were run but I'm not seeing it.

[2020-09-09 19:09] Th3Whit3Wolf commented on #61
I missed a single quote on the last line. Apologies.

[2020-09-09 19:09] #61 closed

[2020-09-19 23:44] TheJaredWilcurt opened #62 "I just want a percent badge per branch"
I was able to do this with Travis, but can't figure out how to get a branch shield that **actually** stays up to date with the latest commit on that branch.

I have tried many, many different things (each commit is a different attempt).

* https://github.com/tjw-lint/jest-serializer-vue-tjw/pull/66

Notice how the branch badge shown at the top is `100%` even though the current state of the branch

[2020-10-01 07:05] jfo84 commented on #29
Here is some cleaned up code of @stephaneliu, etc.

spec_helper.rb
[code]

ci.yml
[code]

Gemfile
[code]

You will need [this library](https://github.com/tagliala/coveralls-ruby-reborn) as well since the original is unmaintained.

Cheers

[2020-10-06 15:47] silva96 commented on #29
You don't need a the coveralls nor coverals_reborn gem if using github actions, it picks up the lcov file written by the simplecov gem.

You need to add to your gemfile 2 gems, under the test group
[code]

Also create a file called `.simplecov` in your root dir

and add this

[code]

[2020-10-10 00:00] Razzeee commented on #26
Getting the same problem, for example with this PR https://github.com/elm-tooling/elm-language-server/pull/341

[2020-10-10 12:07] ostsmolynets commented on #26
@Razzeee Switching to actions/checkout@v2 with fetch-depth 0 seems to help.

[2020-10-10 13:57] Razzeee commented on #26
Thx only switched to v2, but already seems better

[2020-10-13 17:06] bixu commented on #22
This is also a problem for @yonatankarp and me. We are using Jacoco and need to be able to feed our XML report to Coveralls (Jacoco seems not to support the `lcov` file format).

[2020-11-15 16:51] casperdcl commented on #4
looks like https://github.com/AndreMiras/coveralls-python-action is a viable replacement for https://github.com/coverallsapp/github-action/ and https://github.com/AndreMiras/coveralls-python-action/pull/5 will even allow parallel builds.

[2020-11-15 16:52] casperdcl commented on #30
looks like https://github.com/AndreMiras/coveralls-python-action is a viable replacement for https://github.com/coverallsapp/github-action/ and https://github.com/AndreMiras/coveralls-python-action/pull/5 will even allow parallel builds.

[2020-12-08 22:30] kevinoid commented on #36
I agree this would be a useful feature.  For reference, a GUID directory name is unavoidable with Coverlet on .NET due to coverlet-coverage/coverlet#500.  Coverlet is a popular coverage framework that may be worth supporting well.

Until/Unless it is implemented, a workaround I'm using is to pass the lcov path as a step output:

[code]

Where `run: printf ...` could be replaced with any command(s)

[2020-12-23 15:23] erik-f commented on #47
Have there been any advancements since July? We have some jobs failing due to decreased coverage every time we add code that will only be run in one job.

I've seen some repositories where coveralls only shows the summary ([here for example](https://github.com/fastify/fastify/pull/2749)). They all don't specify a `flag-name` in parallel runs as opposed to what the documentation of this action says

[2020-12-23 15:38] erik-f opened #67 "Parallel job coverage is reported on the next run"
When running parallel coverage jobs and starting the next run before the previous one is finished, the reports of the previous run show up on the newest one instead of the one they belong to.

Check out trixi-framework/Trixi.jl#400. I started a run with all tests and then removed most of the tests. The newest run reports for example 1d and 3d tests even though I removed them all. The previous run

[2020-12-28 22:58] TheJaredWilcurt commented on #62
**Update:** I wrote an article with instructions on how to get coverage badges with Github Actions:

* https://dev.to/thejaredwilcurt/coverage-badge-with-github-actions-finally-59fa

[2020-12-28 22:58] #62 closed

[2021-01-05 16:09] athomas opened #68 "Enable the action to work with more limited access than GITHUB_TOKEN"
Because the coveralls action passes the `GITHUB_TOKEN` to it's backend and the token grants write access, using this action you essentially grant coveralls write access to your repo. This makes it impossible to use the action in organizations that don't allow granting write access to external services.

Please provide an alternative, e.g. by using the regular coveralls repo token.

[2021-01-15 19:30] willronchetti commented on #4
Did something change recently? [This](https://github.com/4dn-dcic/Submit4DN/blob/master/.github/workflows/main.yml#L44) workflow was working with coveralls as of 12/14/2020 ([build](https://github.com/4dn-dcic/Submit4DN/runs/1552575847?check_suite_focus=true#step:5:204)), yet [now](https://github.com/4dn-dcic/Submit4DN/runs/1710591466?check_suite_focus=true#step:5:204) it does not?

[code]

[2021-01-21 20:26] keith-miller commented on #22
Wondering if there has been any update on this. Thanks

[2021-02-07 14:58] thijstriemstra commented on #20
Had the same annoying issue (how much time i wasted trying to configure repos for coveralls over the years, unbelievable) but `${{ github.workspace }}/` worked.

[2021-02-07 16:51] jonashackt commented on #22
If the coveralls GitHub action does not support JaCoCo and Java atm, it seems one is forced to switch to https://docs.codecov.io/docs (as for example done at cucumber-jvm: https://github.com/cucumber/cucumber-jvm/blob/main/.github/workflows/build.yml).

[2021-02-14 07:16] KeisukeYamashita opened #70 "Support relative path for "path-to-lcov" argument"
## What

When I ran the following step after my test, the step failed

[code]

with the the error `Lcov: file not found` while if I specify with absolute path, it successes.

[code]

This is because this line will not use the relative path (https://github.com/coverallsapp/github-action/blob/8cbef1dea373ebce56de0a14c68d6267baa10b44/src/run.ts#L92)

[2021-02-28 23:01] aalmada commented on #36
@kevinoid You're solution is great! I'm trying to use it but Coveralls is giving me 0% coverage. Running coverlet from the command line, I can see that the coverage.info contains data. The GitHub Actions also does not report any problem. Do you have any tip?

[2021-03-01 04:49] kevinoid commented on #36
@aalmada Is "0% coverage" shown in the output coverlet produces, or does coverlet show a non-zero value that appears as 0% in coveralls?  If it's the former, you may want to check [coverlet troubleshooting](https://github.com/coverlet-coverage/coverlet/blob/master/Documentation/Troubleshooting.md#collectors-integration) and/or open an issue with coverlet.  If it's the later, you may want to open a

[2021-03-05 02:14] nemanjamart commented on #30
Apparently coveralls package is [now using just GITHUB_TOKEN](https://coveralls-python.readthedocs.io/en/latest/usage/configuration.html#github-actions-support) for the verification of reports. So for upload of reports to the coveralls.io you just need GITHUB_TOKEN defined in that particular step! Considering that GITHUB_TOKEN is [automatically created ](https://docs.github.com/en/actions/referenc

[2021-03-05 08:14] KeisukeYamashita opened #71 "Coverall requires Jest >= 25.1.7"
## What

Jest before 25.1.7 reports test coverage with absolute path for `SF` field which the Coveralls can't handle.
There for, for developers who is using the Jest < 25.1.7 can't use Coveralls.

## Ref
https://github.com/facebook/jest/issues/9773

[2021-03-17 14:57] juanvillegas opened #74 "My builds always incorrectly report coverage to be 0%"
I'm running my tests using Github Actions, and posting the report using the github action in this repo. I'm generating my reports using NYC, and I can confirm the report is there because I `cat` it right after the tests are done. However, my builds always say the coverage is on 0%, and the file list is empty.
My repo is private so I cannot share any links here, but here are some screenshots to hel

[2021-03-17 21:27] afinetooth commented on #74
Potentially related to https://github.com/lemurheavy/coveralls-public/issues/1530#issuecomment-801328651

[2021-03-17 22:35] juanvillegas commented on #53
Although this works, the setup doesn't even use the github-action that this repo is for. What you have done is an integration between `coveralls-node` and Github Actions.
When you use the action provided in this repository, the github token is used to find the corresponding repository in Coveralls, and thus the repository token is not needed.

[2021-03-25 09:35] tkmct opened #76 "upgrade coveralls version to ^3.1.0"
Hi, I recently used coveralls github-action for my project and faced an error below.
After a bit of research, it seems that the error is caused by coveralls package. And the error is fixed in the latest version.
Is it possible that someone kindly update to the latest version of coveralls?
It was little bit hard for me to update because when I tried to update using the latest version of npm, diff i

[2021-03-25 17:06] eyal0 opened #77 "parallel with missing flag-name should cause a warning"
I was using the parallel feature but without the flag-name and I didn't get a warning.  However, it seems like setting parallel to true without a flag-name makes the coveralls app act as if parallel is false, without any warning or error.

It would be better if a warning or error was displayed.

[2021-04-01 09:52] actionless commented on #30
in case of running Coveralls inside Docker, you need to bypass there more env vars from Github inside into container:

[code]

[2021-04-02 06:42] sidverma32 commented on #31
check this answer: https://stackoverflow.com/questions/38558989/node-js-heap-out-of-memory/66914674#66914674

[2021-04-09 03:01] normanius commented on #30
This is just a summary post. I tried several things, and I'm reporting what worked for me.

I was able to link the coverage output with coveralls.io using either the solution by @AndreMiras  (see [post](https://github.com/coverallsapp/github-action/issues/30#issuecomment-612523058) and [github action](https://github.com/marketplace/actions/coveralls-python) as well as @nemanjamart [post](https://g

[2021-04-26 10:09] saulonunesdev opened #79 "Bad response: 500 {"message":"Build processing error.","error":true,"url":""}"
Hi,

suddenly all PR are failing with

`Bad response: 500 {"message":"Build processing error.","error":true,"url":""}`

also, the github sign in page in https://coveralls.io/ is failing with `500`

i've checked the coveralls status but everything there is `operational`

![image](https://user-images.githubusercontent.com/26988193/116066310-4766fb00-a65e-11eb-94c7-0b32a42603b0.png)

[2021-04-26 12:56] IraErshova commented on #79
Hi! We have the same issue

[2021-04-26 16:15] saulonunesdev commented on #79
it's back thanks

[2021-04-26 16:15] #79 closed

[2021-04-27 17:10] boredland commented on #19
It took me ages to understand this. Even read the docs entry but didn't really understand this is about having the pr-comments.

[2021-04-29 16:36] edgarogh opened #80 "Coveralls makes my checks fail"
Hello,

I'm currently trying coveralls on a small project. For some reason, although the actions run without a problem and the coverage result appear correctly on the website, these two checks appear out of nowhere (I'm only using Coveralls inside the "cov" action, I've haven't configured it in any other way that would make two new icons appear) and make my PR "fail" when it is perfectly correct..

[2021-04-29 17:05] edgarogh commented on #80
Unchecking this fixed it for me... Weird UX choice to configure this on coveralls.io and not in a parameter of the action.

![image](https://user-images.githubusercontent.com/46636609/116590155-b7ef6f80-a91d-11eb-929e-b34e5f8abbfa.png)

[2021-04-29 17:05] #80 closed

[2021-04-29 18:05] ltalirz commented on #30
One compact way of accomplishing this (worked for me):
[code]

[2021-05-06 07:13] irverysmart opened #81 "Always getting Error: Bad response: 422 {"message":"Couldn't find a repository matching this job.","error":true}"
Trying to use a private repo with the github action using the following .yml:

[code]
this is the exact same .yml provided on https://github.com/coverallsapp/github-action as the "standard example" with         `make test-coverage` swapped for `npm test -- --coverage` (to generate lcov.info).

i've logged into the website and turned the repository "on" and I see the repository in the "my repos" ta

[2021-05-09 09:47] lc-soft commented on #81
Same issue.

[2021-05-18 12:16] ranocha opened #85 "Option to report only summary and not every individual result for parallel runs"
We're using GitHub actions to test our Julia project using parallel runs. We use [a setup](https://github.com/trixi-framework/Trixi.jl/blob/c635c6afb1db8b6f6cefc72d1065a111bc730081/.github/workflows/ci.yml#L125-L140) following the [parallel jobs example](https://github.com/marketplace/actions/coveralls-github-action#complete-parallel-job-example). Thus, we get many coverage reports of every indivi

[2021-05-24 17:16] Mulugruntz opened #87 "422 Client Error: Unprocessable Entity"
Okay, I have the infamous issue. I've spent a few hours trying to make this work and I feel like I'm very close to it. But now I've got this 422 Client Error. Nothing that I could find online actually helped. So maybe it's an actual new bug (or maybe I'm just blind).

I've tried many different ways to do it.

This version is (mostly) a copy-paste of https://coveralls-python.readthedocs.io/en/lates

[2021-06-10 14:47] dinko-pehar commented on #30
So, based on OP question, only way to upload coverage in XML is to convert it to lcov format I guess ?

[2021-06-10 15:27] afinetooth commented on #30
@dinko-pehar the answer is yes, only LCOV. That’s for the Coveralls GitHub action on its own. It only accepts LCOV.

That said, some other integrations—language specific, community-created integrations—support other coverage report formats. Typically the standard more common to the language, which they convert to the JSON expected by the Coveralls API. (Which is what the Coveralls GitHub Action do

[2021-06-10 15:43] dinko-pehar commented on #30
I'm looking into Crystal lang. Using some coverage tools compatible with Crystal, it's able to generate cobertura.xml report.
Maybe I can create tool to convert from cobertura to lcov and then upload it. I saw tools which convert lcov to cobertura, so I guess it's possible.

[2021-06-10 15:51] afinetooth commented on #30
@dinko-pehar in that case check out Coveralls’ new Universal Coverage Reporter:
https://github.com/coverallsapp/coverage-reporter

It’s written in Crystal and currently has support for LCOV and SimpleCov.

maybe you can contribute a plug-in adding read-and-convert support for your standard following its model.

[2021-06-10 16:03] dinko-pehar commented on #30
That's great. I'll have a look at that and how it can be extended I hope.

[2021-06-18 05:41] #76 closed

[2021-07-13 03:06] AngellusMortis commented on #30
I managed to get everything working nicely using [coveragepy-lcov](https://pypi.org/project/coveragepy-lcov/). It requires Python 3.8+ though so if you have an older version, you may need to do a [setup-python](https://github.com/actions/setup-python) to get the correct version _after_ running pytest.

[2021-08-05 05:16] ThePadawan opened #88 "Coveralls won't comment or set status on PR if repository has not yet been configured"
Hi all,

I just ran into an issue where Coveralls won't add comments or set the pull request status on a brand new repository.

To reproduce this issue, create a public Github repository, push some code to it, create a PR, push some trivial changes to it, then run this action without first adding the repository on https://coveralls.io.

Coveralls will gather coverage just fine, but won't update th

[2021-08-07 21:57] Razzeee commented on #30
Thanks @AngellusMortis was able to figure it out due to your post
https://github.com/trakt/script.trakt/pull/566

[2021-08-12 12:22] paulrberg commented on #85
Does this GitHub Action help?

https://github.com/dorny/paths-filter

[2021-08-12 12:25] paulrberg commented on #70
I don't think that this bug still exists. In my [workflow](https://github.com/hifi-finance/hifi/blob/869aa3abff78149fe5962ebdff77911d70e0a93b/.github/workflows/ci.yaml#L79), I'm providing the path like this:

[code]

And it works.

[2021-08-12 12:28] ranocha commented on #85
It's description says that it's a

That's not what we want. We want to run multiple parallel CI jobs covering different parts of the code and get only the summary of all coverage reports, not the individual ones.

[2021-08-30 09:35] mobilutz opened #91 "Random error: `Error: Parallel webhook error:TypeError: Cannot read property 'done' of undefined, undefined`"
We are seeing this error randomly happening more today:
[code]

Is there some error on coveralls app that might correlate?
The error is happening in the `code_coverage` run - see config below.

Out workflow file is as follows:
[code]

[2021-08-30 12:40] markuskurz commented on #91
I'm seeing the same error on our monorepo using the parallel flag.

Here is our workflow:
[code]

[2021-08-30 13:08] mobilutz commented on #91
The strange thing is, that even with this failure on the `code_coverage` step, everything is still working for us.
The different matrix-runs coverages are being reported and the overall coverage report also works.
![Screen Shot 2021-08-30 at 15 06 16](https://user-images.githubusercontent.com/491877/131343837-f64d54f9-f0f8-4f46-92d6-53763fe29e2b.png)

[2021-08-30 13:39] lmammino commented on #91
Seeing the same issue today: https://github.com/fourTheorem/slic-watch/pull/62/checks?check_run_id=3462279083

[2021-08-30 14:10] BacLuc commented on #91
Seeing the same issue since yesterday: https://github.com/ecamp/ecamp3/pull/1859/checks?check_run_id=3461926954

[2021-08-30 16:07] Licenser opened #92 "Coveralls no longer reporting results"
Coveralls has stopped reporting results and is by that blocking pull requests we have 4 of them currently pending:

- https://github.com/tremor-rs/tremor-runtime/pull/1196
- https://github.com/tremor-rs/tremor-runtime/pull/1197
- https://github.com/tremor-rs/tremor-runtime/pull/1198
- https://github.com/tremor-rs/tremor-runtime/pull/1199
For each of them the upload using the plugin was reported su

[2021-08-31 17:40] hurrycaner commented on #92
https://status.coveralls.io/ there was an outage rellated yesterday

[2021-09-02 05:24] fanck0605 commented on #91
I also encountered this problem a few days ago, but coveralls seems to be working fine now.

[2021-09-18 15:47] TobiTenno commented on #92
would this also be related to getting a lot of 405's right now on the action?

[2021-09-18 21:22] mcataford commented on #92
It looks like Coveralls is down for [scheduled maintenance](https://coveralls.io/) at the moment, which would be responsible for the 405s. :thinking:

[2021-09-19 19:38] JonClayton opened #93 "Coveralls API outage suggests need for better testing and robustness"
We are in the midst of what is now a 40+ hour outage for the Coveralls API.
![image](https://user-images.githubusercontent.com/13374445/133940538-8d46747c-c6f9-49b0-8b17-88662deaa464.png)

Consumers of this Github action receive a failed result that, at least in our usage of the action, blocks the workflow.  At this point we face either removing the coveralls action from the workflow or forking it

[2021-09-20 07:05] pojeesaddam commented on #93
The coveralls website (https://coveralls.io/) mentions that this is a planned maintenance but I could not find the schedule of this planned maintenance. Is there some information about when will this maintenance end? (which would hopefully fix 405 responses)

[2021-09-20 15:26] Licenser commented on #92
`s/scheduled//` not much scheduled about it as far as I can tell :(

[2021-09-20 17:44] cedx commented on #11
Just as a reference:
https://docs.github.com/en/actions/creating-actions/about-actions#using-tags-for-release-management

[2021-09-21 14:28] JonClayton commented on #93
The assertion that it's planned is obviously false.  A planned maintenance is by definition one that you announce in advance and have a plan that allows you to say when you expect it to be complete.  I believe the correct term for this event, now almost 4 days long, is catastrophic outage.

[2021-09-22 16:04] razzeee opened #94 "Unable to resolve action"
It doesn't seem to work anymore, since the outage.

[code]

https://github.com/elm-tooling/elm-language-server/runs/3677399785

[2021-09-24 17:07] paulrberg opened #95 ""Some checks were not successful" even if they were"
I am running the Coveralls GitHub action in a monorepo, setting the `parallel` flag to `true` so that I can run the coverage jobs in parallel and batch-upload them at the end of the GitHub workflow execution. Here's my integration script:

https://github.com/hifi-finance/hifi/blob/10e8767c3749a3bf6a5cfe2c1c151df5935be87a/.github/workflows/integration-contracts.yaml

The issue is that occasionally,

[2021-09-24 21:02] bluca opened #96 "coveralls action failing with "getaddrinfo EAI_AGAIN coveralls.io""
[code]

https://github.com/systemd/systemd/pull/20837/commits/ce50573f63ef0ebf3475f5f17a68a4800782048d
https://github.com/systemd/systemd/pull/20837/checks?check_run_id=3704188045

Any idea what that error is and how to fix it?

[2021-09-24 21:13] bluca commented on #96
tried latest master, doesn't work either

[2021-09-25 01:07] evverx commented on #96
I don't think the GHAction in that PR had access to `secrets.GITHUB_TOKEN` (because it was triggered on "pull_request" from your external fork). Could you try opening a PR from a branch in the systemd repository? Judging by https://securitylab.github.com/research/github-actions-preventing-pwn-requests/ it seems another option would be to switch to `pull_request_target` (which is generally frowned

[2021-09-25 04:41] evverx commented on #96
Turns out the tests mess something up horribly and the GHAction gets to the point where `coveralls.io` can't be resolved. I tried to turn off the unsafe tests, fuzz targets and slow tests in https://github.com/evverx/systemd/pull/7 to fix it but unfortunately it didn't work out. Anyway, I don't think it has anything to do with the coveralls GHAction.

[2021-09-25 05:48] evverx commented on #96
I finally managed to send data to coveralls by removing `sudo` and running the tests as a non-root user (to prevent the tests from breaking anything): https://coveralls.io/builds/43064381. I'm still not sure where exactly the culprit is though

[2021-09-25 14:37] bluca commented on #96
Oh wow, good catch - I'll try to switch to running the tests under a network namespace

[2021-09-25 15:20] bluca commented on #96
That fixed it - thank you for the hint!

[2021-09-25 15:20] #96 closed

[2021-09-27 16:12] razzeee commented on #94
Not sure why it even tries that, when I have configured

[code]

One thing that's weird, is that your new version was tagged as `1.1.3`, when it should probably have been `v1.1.3`. So that might be causing the problems.

It works, when I reference master or 1.1.3.

Here's my fix for now. A `v1` branch would be handy.
https://github.com/elm-tooling/elm-language-server/pull/643

[2021-10-05 08:13] lluc commented on #30
I also have the same problem : in Coveralls, coverage is always reported as 0% :thinking:

[2021-10-07 18:28] bmaupin opened #100 "Latest release is missing the `v`"
This is pretty trivial so feel free to close it, but the latest release is `1.1.3` whereas all the other release tags start with a `v`, e.g. `v1.1.2`.

Thanks!

[2021-10-22 19:52] afinetooth opened #101 "Enhancement Request: Write some success response to STDOUT (including debug response) when parallel webhook succeeds"
Requested by customer recently, and other customers occasionally:

![Screen Shot 2021-10-22 at 12 48 38 PM](https://user-images.githubusercontent.com/918667/138514845-b04e2a2f-f577-406e-a4bd-c7f5b008090c.png)

It would be helpful if the parallel webhook returned a 200 success response from the API, particularly when verbose mode is enabled, similar to each individual job POST.

[2021-10-26 14:46] ambiknai opened #102 "Coveralls github action doesn't post comments in pull request"
Requirement: I need coverage to be posted to PRs. [basically looking for an  alert when coverage goes down ]

As per https://github.com/coverallsapp/github-action#coveralls-comments-arent-added-to-my-pull-request

I have added `pull_request` in my github actions but still the coverage is not posted to PRs

This is the repository

https://github.com/kubernetes-sigs/ibm-vpc-block-csi-driver/blob/mas

[2021-10-26 15:57] #102 closed, assigned to nobody

[2021-11-03 03:00] zfields opened #103 "Action expects `lcov` to be run in `runner` environment/file system."
If unit-tests and `lcov` are run inside a container, they end up with a path like, `/github/workspace/src/SourceFile.cpp`.
However, if the unit-tests and `lcov` are executed using the `run:` tag (natively in the `runner`), they have a path like,  `/home/runner/work/<repo>/<repo>/src/SourceFile.cpp`.

I was unable to discover an option that could be passed to `lcov` to satisfy the Coveralls GitHub

[2021-11-03 21:30] Spacetown opened #104 "support of coveralls JSON format"
Are there plans to support the JSON format described in the [API docs](https://docs.coveralls.io/api-introduction)? This format is internal generated from the lcov info file.
E.g. gcovr can create the internal file but not the lcov info file.

[2021-11-04 12:01] zfields opened #105 "[Doc Bug] What causes the check to fail?"
I apologize if I missed this, and I'm sure it will become immediately obvious once I begin using it, but what exactly makes the "Coveralls Check" fail?

1. Does it fail anytime new coverage is less than existing coverage?
1. Does it have any other criteria?
1. Can the criteria be modified?

It may be worth mentioning, if (1) is true, that is exactly what I'm looking for.

I am trying to make a bus

[2021-11-10 13:45] yaroslav-fedyshyn-playson commented on #74
I had the same issue.
In my case, I missed the step to checkout sources that is required for coverallsapp/github-action.

I fixed it by adding such step:
```uses: actions/checkout@v2```

might be helpful

[2021-11-11 06:12] stereomon opened #107 "Add support for xml coverage files"
https://github.com/coverallsapp/github-action/issues/15
https://github.com/coverallsapp/github-action/issues/22
https://github.com/coverallsapp/github-action/issues/30

All issues from above are not closed and only outline workarounds. There is still no XML support.

Can someone please add XML support to this GitHub action? Are there any plans to add XML support or is this project not meant to be

[2021-12-17 06:47] nopeless commented on #105
I think this is true too

There should be an option to disable this or a coverage threshold

[2021-12-17 06:57] nopeless commented on #105
@zfields After some research I found out that you can change the repo settings

https://github.com/lemurheavy/coveralls-public/issues/565#issuecomment-120924694

A little note to self is that

You should be on the repo not the build result page (the page you get when clicking the run badge)

Just click your repo on the `repos` tab and there should be `settings` on top or left

[2021-12-23 22:17] maziyarpanahi commented on #30
It would be great to have support for sbt as well. Currently, we do something like:

[code]

But it doesn't leave a comment this way. Would be great if we can use the official GA support for sbt.

[2021-12-25 00:04] hartwork commented on #100
My vote for adding a copy named `v1.1.3` too, e.g. because I am worried that mixing schemes will confuse GitHub Dependabot thank you!

CC @afinetooth

[2021-12-25 00:25] hartwork commented on #11
Looking at https://github.com/coverallsapp/github-action/releases now, it seems that there are Git tags and then maybe this ticket can be closed as fixed?

[2021-12-26 01:19] jrfnl commented on #100
Could this be why the below does not work ?
[code]

It is generally strongly recommended to always "lock" actions to a version to prevent CI builds to unexpectedly start failing due to a new major of an action having been released. That is currently not possible with this action.

[2021-12-26 01:21] jrfnl commented on #100
Related to / duplicate of #94

[2021-12-26 02:14] hartwork commented on #100
@jrfnl `@v1` is a moving Git tag that those repos keep moving whenever they crate a new `v1.x.y` tag. Ideally, Git tags never move, so it's arguably a hack. The reason it doesn't work here is because there is no tag named `v1` at https://github.com/coverallsapp/github-action/tags .

[2021-12-26 05:59] jrfnl commented on #100
@hartwork Thanks for the explanation. Sounds like something which should be solved.

[2021-12-28 06:49] XhmikosR commented on #11
Nope, there is no `v1` tag. The idea is to give people the ability to point to a major version tag without having to update their workflows for each minor/patch version.

[2021-12-28 15:06] hartwork commented on #11
Maybe we're talking about two different things. If you look at https://github.com/actions/setup-python/tags , they have both `v1` and `v2` Git tags, where `v2` is moved every now and then. It's not something I would do and recommend personally, but it's a workaround that is in use in the wild, and that repository is proof (and not the only one).

[2021-12-28 18:52] XhmikosR commented on #11
We are talking about the same thing. This action here does not publish semver major tags on each mino/patch release, which is exactly what this issue is about.

[2021-12-29 06:12] samyakjain224 commented on #30
this url doesn't seems to be working anymore. can u plz post the solution.?

[2022-01-02 20:41] jtroussard opened #108 "Difference in relevant lines calculation between python versions 3.7 and greater"
### Description
Our pipeline runs coverallsapp action in parallel with several different versions of python. Noticed that after making a non-functional change to a file, (removed comment) our coveralls check was failing the build for a -0.0% decrease.

### Difference Between Versions
Search results in a small difference the relevant lines are calculated between python versions:

3.7
![37](https://

[2022-01-04 19:50] jtroussard commented on #108
<img width="517" alt="Screen Shot 2022-01-04 at 2 49 37 PM" src="https://user-images.githubusercontent.com/17488893/148115631-d5139f51-2f08-4e82-9432-61f0d8aaff72.png">

[2022-01-20 01:23] prescottprue commented on #100
@jrfnl I'm not seeing any CI in the repo currently you are implementing in a Actions workflow, I've done that with a simple step to push the change to a branch after releasing (this example grabs version from the package.json since you seem to be managing that manually):

[code]

Using semantic-release like [Cypress does with their Github Action](https://github.com/cypress-io/github-action/blob/ma

[2022-01-20 12:00] jrfnl commented on #100
@prescottprue I think your suggestions are great, however, I'm not a maintainer of this repo, just a user 🤷🏻‍♀️

I imagine @nickmerwin may welcome your help though ?

[2022-01-24 15:00] Ismoh opened #109 "Github action workflow returns: Upload error: Couldn't find a repository matching this job."
I tried:
- Environment secret with repo_token
- Repository secret with repo_token
- .coveralls.yml with repo_token
- I resynced the repo
- I regenrated the repo_token and updated it in the workflow yml
- I deleted the repo on coveralls.io and added it again

- I didnt try repo_token without any github secrets, better to say: I didnt used my repo_token in plaintext

Is there a verbose flag to see m

[2022-01-27 20:07] prescottprue opened #110 "Support for pull_request:close on base branch"
Currently base branch reporting requires a `push` event type. A number of workflows that our team has use the `pull_request: closed` event like so:

[code]

I believe this could work with an override of the `GITHUB_EVENT_NAME`, but this can not be done through env variables, so it would be great to have an input to override the event type (so for closed PRs on the default branch it can be override

[2022-02-02 21:10] #109 closed

[2022-02-26 10:28] Barabas5532 opened #113 "Invalid paths in lcov input leads to files silently disappearing"
If there is a misconfiguration that causes the file paths in `lcov.info` to be invalid, the files are missing from the output to coveralls with no warning or error.

Relates to https://github.com/coverallsapp/github-action/issues/103

For example in this `ctest (Debug)` run: https://github.com/ShrapnelDSP/ShrapnelMonorepo/runs/5343824003

[code]

[2022-02-26 10:56] Barabas5532 commented on #103
This is working for me. I build and run the test in a container like this:

[code]

The input lcov file paths, and verbose prints from this Action with `NODE_COVERALLS_DEBUG: 1` look like this:

[code]

The actual payload send to coveralls is this:

[code]

Looks like it's handled by the `coveralls` library function `convertLcovToCoveralls`. [Here is their test.](https://github.com/nickmerwin/node

[2022-02-27 00:22] nickdnk commented on #107
Just ran into this problem as well.

[2022-03-01 13:54] YonatanKra opened #114 "Action doesn't show report and no code coverage comparison"
We've added the repo and in the github actions CI we're using the coveralls action.
Looking at the dashboard, we can't see the report: https://coveralls.io/github/Vonage/vivid-3
In addition, in the PRs we cannot see any report at all.
Might this be because we call the action from a callable workflow?

[2022-03-28 13:21] edgarogh opened #115 "TypeError: Cannot read property 'includes' of undefined"
Trying to upload a file fails with no information:

[code]

[code]

The lcov file exists according to `ls`. It was produced by `grcov` but your action doesn't indicate any parsing errors so I guess it is correct. There's no official information on how to support Rust so I'm using `grcov`'s docs and a bit of guessing to make things work. The error seems to be related to `convertLcovToCoveralls` but

[2022-04-12 04:37] doong-jo commented on #76
@tkmct
I met the same problem now. Can you share how you solved the problem?

[2022-05-25 21:37] EvHaus commented on #55
Just documenting for posterity in case others are running into this. For me this was happening because the right ENV variables weren't being set. There's a bunch of remapping that happens inside Coveralls that made it confusing.

The fix was the following:

[code]

[2022-05-27 06:44] dominikwilkowski opened #122 "Action should support the global working-directory"
Github has a global that it supports called [`working-directory`](https://docs.github.com/en/actions/using-workflows/workflow-syntax-for-github-actions#jobsjob_iddefaultsrun). This enables you to run an action in a specified working directory.
This action seems to ignore it which leads to thing like this:

[code]

[2022-06-05 16:43] cyrus-za commented on #76
Same issue here and the github action does not use a locally installed package, right?

[2022-06-10 08:52] jcubic opened #124 "Jest Coverage vs Coverals"
I have a project that shows the coverage of 72%:

[![Coverage Status](https://coveralls.io/repos/github/jcubic/gaiman/badge.svg?branch=master)](https://coveralls.io/github/jcubic/gaiman?branch=master)

But jest stats in the console shows 75%

<pre>-----------|---------|----------|---------|---------|---------------------
File       | % Stmts | % Branch | % Funcs | % Lines | Uncovered Line #s
-----

[2022-06-15 14:44] microshine opened #125 "Coveralls report shows 0% coverage for NodeJS"
Hi. I'm using this action for a long time. Thank you for this useful tools. But now I've got some problems with some of my projects, they show 0% coverage, although `text-summary` shows non-empty coverage result.

I did some researches and found that `SF` records in `lcov` file has strange file path record.

It looks like `coveralls` cannot find out file via `fs.existsSync` function in `convertLco

[2022-06-15 15:11] microshine commented on #125
I've added log into `istanbul-reprts`. It adds `file:` from file coverage `fc.path`

<img width="1102" alt="image" src="https://user-images.githubusercontent.com/7333669/173862137-26798444-8cef-44ad-bbd3-78fd2bc1ed0a.png">

[2022-06-16 07:20] microshine commented on #125
I've updated my CI YAML file to fix this problem.

[code]

[2022-06-17 14:53] jmfayard opened #126 "Could you release major version(s) of your GitHub action?"
Bonjour! 🇫🇷

I contribute to [GitHub Actions Kotlin DSL](https://github.com/krzema12/github-actions-kotlin-dsl) which provides an alternative to write GitHub Actions not in YAML but in a type-safe programming language: Kotlin.

To this end we provide type-safe wrappers for currently [72 (and counting) wrapper actions](https://krzema12.github.io/github-actions-kotlin-dsl/supported-actions/). Those

[2022-06-18 07:49] jmfayard commented on #126
Note: in practice this  is done by pushing a tag `v1` to your latest `1.x.y` release

[code]

[2022-06-24 05:37] pcolby commented on #95
I have a similar (same?) issue... if you mouse-over the red cross, the tooltip will give you the reason for the "failure".  In my case, it claims that the code coverage dropped, yet if I go to the link in Coveralls, it says "coverage remained the same". Is that what you're seeing too, or a different issue?

[2022-06-30 08:36] simoneb opened #127 "The endpoint requested by the action returns a 405"
See https://github.com/nearform/graphql-hooks/runs/7127636992?check_suite_focus=true#step:11:8

[2022-06-30 17:02] stuft2 commented on #126
Additionally, I would just like to point out that under the compatibility section it has this warning:

https://github.com/actions/toolkit/blob/main/docs/action-versioning.md#compatibility

[2022-07-01 05:17] haidaraM commented on #127
You can follow the status here: https://status.coveralls.io/?utm_source=embed

[2022-07-05 15:50] clicketyclackety opened #128 "Coveralls Bot"
Is there a way to pick a different user to make the comment for PRs given a username and token?
Inviting a mysterious bot to private repos seems quite dangerous.

[2022-07-15 08:03] Panaetius opened #129 "coveralls still considering old paths after using `source` setting"
We gather parllel coveralls data in multiple Github Actions jobs. Since some of the tests shell out to test our CLI application, we have some code in `<job-root>/renku` and some in `<python-dir>/site-packages/renku`.

To consolidate those paths, we add this to pyproject.toml
[code]

specifically with a step like this in the actions
[code]

That sort of works. Where coverage before was something li

[2022-07-15 11:53] Panaetius commented on #129
Closing in favor of https://github.com/lemurheavy/coveralls-public/issues/1650

[2022-07-15 11:53] #129 closed

[2022-08-02 16:43] lamweili commented on #81
1. You need to ensure the GITHUB_TOKEN is present.
https://github.com/coverallsapp/github-action#coveralls-responds-with-cannot-find-matching-repository
3. You need to ensure that you are running this GH action on your `default` branch. If you are running on other branches, this error will also happen.
    - You can either change your `default` branch, or
    - You can explicitly configure which b

[2022-08-21 02:21] Vampire opened #131 "`action.yml` misses required `description` for input `github-token`"
I'm writing a serializer / deserializer for GitHub action metadata file and found your file to be invalid when testing.
The GitHub documentation for the action metadata file defines the `description` for inputs as required, but your `github-token` input misses that property.

[2022-09-27 08:57] lovell commented on #126
Supporting this feature might also help avoid the current problem of inconsistent tag prefixes highlighted by #94 and #100

[2022-09-29 19:23] prescottprue commented on #93
Wanted to callout that there have still been periodic outages. Would it be possible to add a `pass-on-failure` input which would still pass the step if the upload to Coveralls fails?

[2022-10-12 15:06] sschmid opened #132 "Node.js 12 actions are deprecated"
Running the GitHub action results in a warning:

[code]

[code]

For more information see:
https://github.blog/changelog/2022-09-22-github-actions-all-actions-will-begin-running-on-node16-instead-of-node12/

[2022-10-13 09:45] ligurio opened #133 "Processing of coverage results failed due to out of memory"
We are using coveralls GH action for sending `coverage.info` file to Coveralls service (see settings in [workflow](https://github.com/tarantool/tarantool/pull/7791)). `coverage.info` file has been prepared using `lcov` (see [command-line](https://github.com/tarantool/tarantool/blob/d960476d1cc2581771d2903f31c53acd3e204b07/.test.mk#L122-L133)).

[code]

Why processing took so much memory (~2 Gb)? H

[2022-10-14 17:01] joaocasarin opened #134 "Coveralls not finding repository, response 422 when trying to upload reports"
I have just configured [this repo](https://github.com/joaocasarin/express-k8s-sqs/) to use coveralls actions as a coverage badge, created the secret as in the image below:
![image](https://user-images.githubusercontent.com/48847394/195901732-353edcbc-82ab-48b5-a07d-eaf8f6839eba.png)

And as you can see [in here](https://github.com/joaocasarin/express-k8s-sqs/blob/main/.github/workflows/ci.yml#L57)

[2022-10-14 20:36] joaocasarin commented on #134
The same error happens if I try using `v1.1.2`:

![image](https://user-images.githubusercontent.com/48847394/195939100-bc6c7525-4607-4016-9a97-d398d46f189d.png)

[2022-10-18 07:43] Apollon77 opened #135 "The `set-output` command is deprecated and will be disabled soon."
We get some warnings on GitHub when using the action (master version):

[2022-10-19 15:34] gabririgo commented on #135
also this warning is produced:
`Node.js 12 actions are deprecated. For more information see: https://github.blog/changelog/2022-09-22-github-actions-all-actions-will-begin-running-on-node16-instead-of-node12/. Please update the following actions to use Node.js 16: coverallsapp/github-action`

[2022-10-20 15:32] vmenger commented on #134
This action doesn't use the coveralls secret, but rather literally this:

[code]

Took me a while too to figure it out. Just copy-paste this literally in your ci.yml.

See:

[2022-10-21 05:18] joaocasarin commented on #134
WOW! that was exactly the issue, their docs is not that clear, but now I get it... Thanks for sharing both the info and another issue that was raised regarding this.

Thanks, my friend!

[2022-10-21 05:18] #134 closed

[2022-10-29 08:53] xavierfoucrier commented on #132
Hello guys @afinetooth @EvHaus @nickmerwin!

It would be nice to move forward and drop NodeJS 12 support.
Thanks a lot! :wink:

[2022-11-02 18:05] rburgst commented on #132
see also https://github.com/coverallsapp/github-action/pull/117

[2022-11-17 20:34] euberdeveloper commented on #132
Any news?

[2022-11-22 15:29] xavierfoucrier commented on #132
Bump @nickmerwin @anjin @coveralls

[2022-11-22 20:43] Scott-Fischer commented on #132
At this point, might as well upgrade to node18. Or is this now abandonware?